---
layout: default
description: A description about my blog homepage
---

<section id="posts">
  <h2>The thing I do recently:</h2>
  <nav id = "postsnav">
    {% for post in site.posts %}
      <h3>{{ post.date | date_to_string }}</h3>
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </nav>
</sction>

<section id="pages">
  <h2>Pages</h2>
  <nav>
    {% for page in site.html_pages %}
      {% if page.title %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </nav>
</section>
